/*////////////// Fonts //////////////*/
@font-face {
    font-family: 'Baskerville';
    src: url('fonts/Baskerville.ttc');
    /*src: local('Baskerville'), local('Baskerville'), url('fonts/Baskerville.ttc') format('ttc');*/
  }

h1 {
	font-family: 'Baskerville';
	font-size: 3.5em;
	color: rgb(153, 170, 164);
	padding: 20px 20px;
}

header h1 {
	display: block;
	color: rgb(152, 173, 166);
	padding-bottom: 15px;
	margin: 0 0 5px;
	border-bottom: 1px solid #ccc;
}

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

/* Write all remaining styles here */
